body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: none;
    opacity: 0;
}
.modal.active {
    display: flex;
    flex-direction: column;
    opacity: 1;
}